// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/. 

// to apply: $ xrdb ~/.Xresources

// -------------------------------------------------------------------------- //

! XTerm*loginShell: true

! XTerm*allowSendEvents: True
! XTerm*sessionMgt: false
! XTerm*eightBitInput: false
! XTerm*metaSendsEscape: true

// The number of lines that do not clear the screen after the program exits
! XTerm*saveLines: INTEGER

// XTerm*internalBorder: INTEGER
! XTerm*internalBorder: 10

// -------------------------------------------------------------------------- //
// font

XTerm*renderFont: true
XTerm*faceName: VeraMono
XTerm*faceSize: 12

// Sets the font
// Example: -adobe-courier-medium-r-normal*14-140-75-75-m-90*
! XTerm*font: FONT

// -------------------------------------------------------------------------- //
// pointer/cursor

// Color of the mouse pointer when it's in front on the xterm window
! XTerm*pointerColor: COLOR
// Border color around the mouse pointer
! XTerm*pointerColorBackground: white

// Color of cursor
! XTerm*cursorColor: COLOR

// Sets mouse pointer's appearance when over the xterm window
// Options: XTerm, left_ptr, bogosity, ...
! XTerm*pointerShape: SHAPE

// -------------------------------------------------------------------------- //
// highlight

! XTerm*alwaysHighlight: yes
! XTerm*highlightSelection: true

// -------------------------------------------------------------------------- //
// scrollbar

XTerm*scrollBar: true
XTerm*rightScrollBar: true
! XTerm*scrollKey: BOOLEAN
! XTerm*scrollColor: black

// -------------------------------------------------------------------------- //
// bells

// Changes system beep to make the windows background flicker
! *visualBell: BOOLEAN

! XTerm*marginBell: yes

// -------------------------------------------------------------------------- //
// VT100

! XTerm*VT100*titeInhibit: true

! XTerm*VT100*colorBDMode: on
! XTerm*VT100*colorBD: blue
! XTerm*VT100*colorBD: purple
! XTerm.VT100.eightBitOutput: true
! XTerm.VT100.titeInhibit: false

// Colour for underline attribute
! XTerm*VT100*colorULMode: on
! XTerm*VT100*underLine: on
! XTerm*VT100*colorUL: red

// Turn on colour mode in your xterms
! XTerm.VT100*dynamicColors: On

// -------------------------------------------------------------------------- //
// colors

// color of the background
XTerm*background: black

// color of highlighted text
XTerm*foreground: green

! XTerm*color0: black
! XTerm*color1: red3
! XTerm*color2: green3
! XTerm*color3: yellow3
! XTerm*color4: DodgerBlue1
! XTerm*color5: magenta3
! XTerm*color6: cyan3
! XTerm*color7: gray90
! XTerm*color8: gray50
! XTerm*color9: red
! XTerm*color10: green
! XTerm*color11: yellow
! XTerm*color12: blue
! XTerm*color13: magenta
! XTerm*color14: cyan
! XTerm*color15: white

! XTerm*colorUL: yellow
! XTerm*colorBD: white

// -------------------------------------------------------------------------- //
// menus

! XTerm*mainMenu*backgroundPixmap: gradient:vertical?dimension=400&start=gray10&end=gray40
! XTerm*mainMenu*foreground: white
! XTerm*vtMenu*backgroundPixmap: gradient:vertical?dimension=550&start=gray10&end=gray40
! XTerm*vtMenu*foreground: white
! XTerm*fontMenu*backgroundPixmap: gradient:vertical?dimension=300&start=gray10&end=gray40
! XTerm*fontMenu*foreground: white
! XTerm*tekMenu*backgroundPixmap: gradient:vertical?dimension=300&start=gray10&end=gray40
! XTerm*tekMenu*foreground: white

// -------------------------------------------------------------------------- //
// icon

! xterm*iconPixmap: /usr/share/pixmaps/gnome-gemvt.xbm
! xterm*iconMask: /usr/share/pixmaps/gnome-gemvt-mask.xbm
! XTerm*iconName: terminal
! Mwm*xterm*iconImage: /home/a/a1111aa/xterm.icon

// -------------------------------------------------------------------------- //
